.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* RESET DEFAULTS FROM BRAUSER */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
cp {
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
/* COMMON */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    /* padding: 0 16px; */
    /* margin: 0 auto; */
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    /* margin: 0 auto; */
  }
}
/* ///////////////////////////// */
/* HEADER */
/* NAVIGATION */
/* //////////////////////////////// */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header-container {margin: 16px;}
}
.nav-list,
.contacts {
  display: none;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 40px; */
}
.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
/* .logo-part {
  color: #2e2f42;
} */

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  text-decoration: none;
  leading-trim: NONE;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
}

.header-logo {
  margin-right: 120px;
  padding: 24px 0;
  /* display: block; */
}

.header-logo .logo-part {
  color: #2e2f42;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* font-size: 12px; */
    /* line-height: 14px; */
    /* letter-spacing: 0.04em; */
  }
  .contacts-link {
    /* display: block; */
    /* flex-direction: column; */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 0px;
    margin-top: 0px;
    /* padding-bottom: 0px; */
    /* padding-top: 0px; */
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
    padding: 24px 0;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    /* display: block; */
    /* padding: 24px 0; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding-bottom: 0px; */
    /* margin-bottom: 0px; */
    /* display: flex; */
    /* align-items: baseline; */
margin-top: 24px;
  }
}

/* //////// MOBILE MENU ////////// */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* justify-content: left; */
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-top: 72px;
  margin-bottom: auto;
}
.mobile-menu-nav-paragraf {
  /* font-family: Roboto; */
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 36px;
  /* leading-trim: NONE; */
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #2e2f42;
}
.mobile-menu-nav-paragraf-studio {
  font-family: Roboto;
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 36px;
  /* leading-trim: NONE; */
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #404bbf;
}
.mobile-menu-adress {
  /* margin-bottom: auto; */
  margin-bottom: 48px;
}
.mobile-menu-soc-link {
  /* gap: 40px; */
  /* margin-bottom: auto; */
}
/* ///////////////////////////// */
/* -- 1 -- SECTION HERO */
/* //////////////////////////////// */

.hero {
  background-color: #2e2f42;
  /* width: 1440px; */
  max-width: 1440px;
  margin: 0 auto;
  /* padding-top: 72px; */
  /* padding-bottom: 72px; */
  /* padding-right: auto; */
  /* padding-left: auto; */
  background-image: url('../images/people-office1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office1.jpg');
}
.hero-main-title {
  color: #ffffff;
  
  font-weight: 700;
  font-style: Bold;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
  text-align: center;
  margin 0 auto;
  max-width: 496px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  text-align: center;
}

.button-order-service {
  color: #ffffff;
  background-color: #4d5ae5;
  height: 56px;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  display: block;
  min-width: 169px;
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  margin-bottom: 96px;
}
.hero-main-title {
  font-size: 36px;
}
}
@media screen and (min-width: 768px) {
.hero-main-title {
  font-size: 56px;
  /* padding-top: 72px; */
  /* padding-bottom: 72px; */
}
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
}
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.mobile-menu-social-networks-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
.social-networks-list-size {
  display: flex;
  width: 40px;
  height: 40px;
  /* text-align: center; */
  /* align-items: center; */
}
.social-networks-list-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link {
  margin-bottom: 24px;
}
.contacts-list {
}
.icon {
  fill: #f4f4fd;
}

/* ////// 2 - SECTION - ADVANTAGES  //////// */

.container: {
  width: 288px;
  height: 696px;
}

.second-title-advantages {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-three {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .title-three-advantages {
    padding-bottom: 8px;
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 36px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 0.02em;
horizontal-align: center;
  }
  .advantages-p {
    font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 1.5;
letter-spacing: 0.02em;

  }
}

.title-three-advantages {
  font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.1px;
letter-spacing: 0.02em;
color: #2E2F42;
/* text-align: left; */
text-align: center;
color: #2E2F42;
}
.advantages-p {

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 72px;
  width: 356px;
    height: 120px;
    color: #434455;
}

@media screen and (min-width: 768px) {

  /* .item {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
   } */
   .advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 96px;
  
}
/* .advantages-p {
    width: 356px;
    height: 120px;
    
    
  } */
.item {
  
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0px;
}
.item {
  
  width: calc((100% - 24px) / 2);
}
}


@media screen and (max-width: 1158px) {
  .advantages-icon {
    display: none;
    
  }
}
@media screen and (min-width: 1159px) {
  /* .advantages-list {
    /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* width: 264px;
  gap: 24px;
  margin-top: 96px;
  } */ */

 
  .advantages-p {
    width: 264px;
    height: 224px;
    
    
  }
   .icon-square {
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  border: 1px solid  #8E8F99;
}
  .adv-icon {
    width: 264px;
  }
  .title-three-advantages {
      width: 264px;
      font-size: 20px;
    }
    .item {
      width: 264px;
      /* margin-bottom: 72px; */
    }
    .advantages-icon {
      margin: 24px 100px;
    }

}.icon-position {
  align-items: center;
}

/* /////// SECTION-3 OUR TEAM ///// */
.section-our-team {
  background-color: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 96px;
}
.bkgrnd {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  column-gap: 72px;
  
}
.second-title-team {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 96px;
}

@media screen and (max-width: 767px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second-title-team {
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 36px;
leading-trim: NONE;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
  }
}
.social-networks-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}
.title-h-three-team {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  /* margin-bottom: 8px; */
}
.team-paragraf {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 3px;
  margin-top: 8px;
}
.foto-corners {
  display: block;
  margin-bottom: 32px;
}
.second-title-portfolio {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 96px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 96px;
}
.bkgrnd {
  
  width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
   .team {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 96px;
}
.bkgrnd {
  
  width: calc((100% - 72px) / 4);
}
  /* .team{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 96px;
  width: calc((100% - 72px) / 4);
} */
}
/* .foto-corners {
  display: flex;
} */
  

/* ///// 4-SECTION PORTFOLIO //// */

.portfolio-width-item {
  width: 288px;
height: 400px;
opacity: 1;
left: 16px;
border: 4px solid #2E2F4214;

}
.portfolio-message-overlay {
    display: none;
  }
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 96px;
  /* width: calc((100% - 24px) / 2); */
}
.portfolio-message-overlay {
  display: none;
}
.title-three-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 32px;
}
.portfolio-width-item {
  width: 356px;
height: 420px;
/* opacity: 1; */
/* left: 16px; */
border: 4px solid #2E2F4214;
}
.portfolio-list {
    display: flex;
    gap: 24px;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    row-gap: 48px;
  }
}
@media screen and (max-width: 767px) {
  
  
}
@media screen and (min-width: 768px) {
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}
.advantages-p {
    width: 256px;
  }

}

@media screen and (min-width: 1159px) {
.portfolio-width-item {
  
  width: 360px;
height: 420px;
/* opacity: 1; */
/* left: 16px; */
/* border: 4px solid #2E2F4214; */

}
}
@media screen and (min-width: 1159px) {
  width: calc((100% - 48px) / 3);
}

/* ///////  FOOTER /////// */


.page-footer {
  background-color: #2e2f42;
  /* width: 1440px; */
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  /* background-color: #2e2f42; */
}
.footer-logo-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .add-class {
  display: flex;
  align-items: baseline;
} */
.logo-and-paragraf {
  margin-right: 24px;
  /* margin-left: 56px;
  margin-top: 100px;
  margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  /* margin-bottom: 16px; */
  display: inline-block;
  text-transform: uppercase;
  /* text-align: center; */
  justify-content: center;
  /* margin: 0px auto; */
  margin-left: 80px;
  /* display: flex; */
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* max-width: 264px; */
  width: 288px;
  margin-bottom: 72px;
  /* display: flex; */
}
.footer-paragraf-social-media {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-networks-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-networks-list-size {
  width: 40px;
  height: 40px;
}
.footer-social-networks-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-third-div {
  /* margin-left: auto; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  margin-left: 0px;
  margin-right: 24px;
  
  
}
.footer-p-third-div {
  margin-top: 72px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  /* margin-left: 60px; */
}
.footer-third-div-form {
  display: flex;
  gap: 24px;
  margin-left: 0px;
}
.footer-input-feeld {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  /* margin: 0px auto 16px; */
  margin-bottom: 16px;
  /* margin-left: 60px; */
  margin-right: 24px;
}
.footer-button-third-div {
  max-width: 165px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  /* margin: 0px auto; */
  /* margin-left: 24px; */
  /* margin-right: 40px; */
}
.footer-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer-input-space {
    display: flex;
    flex-direction: column;
  }
  
  .footer-button-third-div {  
    margin: 0px auto;
}

}
@media screen and (min-width: 768px) {
  .footer-input-space {
  display: flex;
flex-direction: row}

.footer-social-media {
    display: flex;
flex-direction: row}
  }
  
 /*///// FOOTER - DESKTOP /////*/

 @media screen and (min-width: 1158px) {
/* .footer-container { */
/* display: flex;
  align-items: baseline; */
/* max-width: 1440px; */
/* padding: 0 15px; */
/* margin: 0 auto; */
/* } */
.page-footer {
  background-color: #2e2f42;
  /* width: 1440px; */
  /* max-width: 1440px; */
  /* background-position: center; */
  /* margin: 0 auto; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.add-class {
  display: flex;
  align-items: baseline;
}
.logo-and-paragraf {
  margin-right: 120px;
  /* margin-left: 56px;
  margin-top: 100px;
  margin-bottom: 100px; */
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: inline-block;
  text-transform: uppercase;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-info-box {
  width: 264px;
  height: 112px;
  angle: 0 deg;
}
.footer-paragraf-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-networks-list {
  display: flex;
  gap: 16px;
}
.footer-social-networks-list-size {
  width: 40px;
  height: 40px;
}
.footer-social-networks-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-networks-list-link:hover,
.footer-social-networks-list-link:focus {
  background-color: #31d0aa;
}

.footer-third-div {
  margin-left: auto;
}
.footer-p-third-div {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin-left: 60px; */
}
.footer-third-div-form {
  display: flex;
  gap: 24px;
}
.footer-third-div-form-label {
}
.footer-input-feeld {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  /* margin-left: 60px; */
}
.footer-input-feeld::placeholder {
  color: #ffffff;
}
.footer-button-third-div {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  /* margin-left: 24px; */
}
.footer-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}
}